<header class="top-bar">
    <div class="top-bar-title">
        <i class="fas fa-graduation-cap"></i>
        <span>Open Recruitmen Asisten Laboratorium</span>
    </div>

    <div class="user-info">
        <span><%= user.role %></span>
        <div class="user-avatar"><%= user.name.charAt(0).toUpperCase() %></div>
    </div>
</header>